.circular-btn {
    border-radius: 50px;
    text-align: center;
    align-items: center;
}

.circular-btn.float {
    position: absolute;
    height: 70px;
    width: 70px;
    right: 2rem;
    bottom: 4rem;
}

.acoes {
    margin-left: 5px;
    margin-bottom: 5px;
    height: 35px;
    width: 35px;
    padding: initial;
}

table {
    margin-top: 20px;
}

table td {
    vertical-align: middle;
}


