<div id="confirmacaoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmacaoModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{titulo}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>{{mensagem}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="responder(true)">Sim</button>
                <button type="button" class="btn btn-secondary" (click)="responder(false)">Não</button>
            </div>
        </div>
    </div>
</div>